<a href="https://colab.research.google.com/github/ayten21/Explore-Python/blob/main/Data_Structure_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
---

<center><h1> DATA STRUCTURES - LIST </h1></center>



---

***Creating a list***

---

List is a data structure that is:

*  Ordered - it keeps the order you wrote and gives index to it
*  It is possible to keep each data type together as it is
*  Repetition of elements is possible

In [12]:
#creating a list
my_list =[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

***Access elements with index***

![](images/table.png)

---

In [14]:
#indexing always start with 0
my_list[0]

1

In [15]:
# positive index - second element from the left
my_list[1]

2

In [16]:
# negative index - second last element in the list
my_list[-2]

9

***List Slicing***

---

In [17]:
# get all the elements in the list using colon only
my_list[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
# same result using the double colon also
my_list[::]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
# after second colon we define the step
my_list[::1]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
# slice list with step 2
my_list[::2]

[1, 3, 5, 7, 9]

In [21]:
# list from index 2 upto 5 with step 1
my_list[2:5:1]

[3, 4, 5]

In [22]:
# list from index 2 upto 5 with step 2 
my_list[2:5:2]

[3, 5]

In [23]:
# list from index 3 to second last index
my_list[2:-2]

[3, 4, 5, 6, 7, 8]

In [24]:
# reverse the list using step value as -1
my_list[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

***Append an element to the list.***

---

In [25]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [26]:
#append expects 1 element (one index) and adds it to the end of the list.
my_list.append(3)

In [27]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 3]

In [28]:
# let's try to append multiple elements in the list
my_list.append([1,2])
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 3, [1, 2]]

You can see that it has created an nested list when used append method,as I mentioned above, it expects one index from you, no matter how many element you will give, all of them will go to the same index.
You can add multiple elements to the multiple indexes by using extend function. 

---

In [29]:
my_list.extend([2, 2, 3, 4])
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 3, [1, 2], 2, 2, 3, 4]

***Search for an element in the List***

---

In [30]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 3, [1, 2], 2, 2, 3, 4]

In [31]:
# find out the index of an element in the list if present
my_list.index(4)

3

In [32]:
# index can also search nested objects
my_list.index([1,2])

11

***Insert an element in the List***

---

In [33]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 3, [1, 2], 2, 2, 3, 4]

In [34]:
#you can add an element to the specific index too:
my_list.insert(1, 'w')

In [35]:
my_list

[1, 'w', 2, 3, 4, 5, 6, 7, 8, 9, 10, 3, [1, 2], 2, 2, 3, 4]

In [36]:
#here is how to add nested list to a particular index:
my_list.insert(4,['explore','python'])

In [37]:
my_list

[1,
 'w',
 2,
 3,
 ['explore', 'python'],
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 3,
 [1, 2],
 2,
 2,
 3,
 4]

---

***Check if the particular element is present in the list or not.***

We will use `in` or `not in` to get the answers of these type of queries. These `in` and `not in` are also called as `membership operators.`

---

In [38]:
90 in my_list

False

In [39]:
[1, 2] in my_list

True

In [40]:
[117] not in my_list

True

***Remove an element from the list***

---

In [41]:
my_list

[1,
 'w',
 2,
 3,
 ['explore', 'python'],
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 3,
 [1, 2],
 2,
 2,
 3,
 4]

In [42]:
# using remove method, It will find and delete the first element found 4
my_list.remove(4)
my_list

[1, 'w', 2, 3, ['explore', 'python'], 5, 6, 7, 8, 9, 10, 3, [1, 2], 2, 2, 3, 4]

In [43]:
# using del keyword, It will delete the element present at the zeroth index
del my_list[0]
my_list

['w', 2, 3, ['explore', 'python'], 5, 6, 7, 8, 9, 10, 3, [1, 2], 2, 2, 3, 4]

In [44]:
# using pop method, it will delete the last element of the list(if not any index were given)
my_list.pop()
my_list

['w', 2, 3, ['explore', 'python'], 5, 6, 7, 8, 9, 10, 3, [1, 2], 2, 2, 3]

In [45]:
my_list.pop(3)
my_list
#element at third index(python) deleted

['w', 2, 3, 5, 6, 7, 8, 9, 10, 3, [1, 2], 2, 2, 3]

***Iterate the list.***

---

In [46]:
# interate a list
for element in my_list:
    print(element)

w
2
3
5
6
7
8
9
10
3
[1, 2]
2
2
3

***Some pre-defined method on List***

---

In [47]:
# creat another random list
my_list_2 = [1, 33, 3432, 232, 1 ]

In [48]:
# find out the length of the list
len(my_list_2)

5

In [49]:
# length of the list
my_list_2.reverse()
my_list_2

[1, 232, 3432, 33, 1]

In [50]:
# sort the list
my_list_2.sort()
my_list_2

[1, 1, 33, 232, 3432]

In [51]:
my_list_2

[1, 1, 33, 232, 3432]

In [52]:
# another way of sorting list
sample_list = [2, 33, 42, 1, 34, 35]
print(sorted(sample_list))
print(sorted(sample_list, reverse = True))
print(sample_list)

[1, 2, 33, 34, 35, 42]
[42, 35, 34, 33, 2, 1]
[2, 33, 42, 1, 34, 35]

***Nested List***

* Some or all of the elements in the list are also of type list.

---

In [53]:
# define a sample nested list
my_list_3 = [1, 2, [1, 2, 1], ['A', 'B', 'C'], 'W', ['A', 'A', 'A']]

In [54]:
# length of the list
len(my_list_3)

6

In [55]:
# second element is a sigle element
my_list_3[1]

2

In [56]:
# third element is of type list
my_list_3[2]

[1, 2, 1]

In [57]:
# access particular element of the third element (list type element)
my_list_3[2][1]

2

In [58]:
# access element with negative index
my_list_3[-3][-1]

'C'