<a href="https://colab.research.google.com/github/ayten21/Explore-Python/blob/main/Data_Structures_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
---
## Data Structure: Dictionary

* Dictionary is also a mutable collection. But as you have seen in the list the indexes of the list are integer numbers. Here, indexes for dictionaries can use many different data types, not just integers.
* Indexes for dictionaries are called keys, and a key with its associated value is called a key-value pair.
* Items in the dictionaries are unordered. You can find out the first item in a list simply like my_list[0]. But there is no ✖️ “first” item in a dictionary. 
* When we check whether the 2 lists are same or not the order of values in the list matters. It does not matter in what order the key-value pairs are typed in a dictionary.
---

***Defining a dictionary in Python***

In [1]:
# define the key value pairs
my_dictionary = {
    'name'       : 'ayten',
    'age'        :  22,
    'percentage' :  85,
    'attendance' :  74,
    'city'       : 'baku',
    'country'    : 'azerbaijan'
}

In [2]:
# access key of the dictionary
print('Name is : ',my_dictionary['name'])

Name is :  ayten

In [3]:
print('Age before updation is : ',my_dictionary['age'])

# update value of the key
my_dictionary['age'] = 25

print('Age after updation is : ',my_dictionary['age'])

Age before updation is :  22
Age after updation is :  25

In [4]:
# get the keys of the dictionary

my_dictionary.keys()

dict_keys(['name', 'age', 'percentage', 'attendance', 'city', 'country'])

In [5]:
# get the values of the dictionary

my_dictionary.values()

dict_values(['ayten', 25, 85, 74, 'baku', 'azerbaijan'])

In [6]:
# update dictionary with a dictionary

my_dictionary.update({ 'pincode' : 122015, 'last_name' : 'haciyeva'})

In [7]:
my_dictionary

{'age': 25,
 'attendance': 74,
 'city': 'baku',
 'country': 'azerbaijan',
 'last_name': 'haciyeva',
 'name': 'ayten',
 'percentage': 85,
 'pincode': 122015}

---

***Add new key to the dictionary*** 

---

In [8]:
# add new key to the dictionary:
my_dictionary['new_key'] = 'new_value'

print(my_dictionary)

{'name': 'ayten', 'age': 25, 'percentage': 85, 'attendance': 74, 'city': 'baku', 'country': 'azerbaijan', 'pincode': 122015, 'last_name': 'haciyeva', 'new_key': 'new_value'}

---

***Dictionary Keys***

---

---

***Most of the data types can be used as keys in Dictionaries***

---

In [9]:
sample = {
    'string' : 'string',
    10       : 'integer',
    1.5      : 'float',
    False    : 'boolean'
}

---

***`Duplicate keys`***

---

In [10]:
sample = {
    'A' : 1,
    'B' : 2,
    'C' : 3
}

In [11]:
sample['A']

1

In [12]:
sample = {
    'A' : 1,
    'B' : 2,
    'C' : 3,
    'A' : 100
}

In [13]:
sample['A']

100

***If we add duplicate keys, it will not throw an error instead it will overwrite the value which is added in the last.***

---

---

***A dictionary key must be of a type that is immutable.***

---

In [14]:
# list is mutable, hence not allowed
sample = {
    1 : 'integer',
    [1, 2] : 'list'
}

TypeError: ignored

In [15]:
# set is mutable, hence not allowed

sample = {
    1 : 'integer',
    { 1, 2 } : 'set'
    
}

TypeError: ignored

In [16]:
# tuple is immutable, hence it is allowed
sample = {
    1 : 'integer',
    (1, 2) : 'tuple'
}

---

📍📍 ***Compare 2 dictionaries by changing their order.*** 📍📍

---

In [17]:
my_dict_1 = {
    'key_1' : 'value_1',
    'key_2' : 'value_2',
    'key_3' : 3
}

my_dict_2 = {
    'key_3' : 3,
    'key_1' : 'value_1',
    'key_2' : 'value_2'
}

(my_dict_1 == my_dict_2)

True

---
 ***Iterate through key-value pairs of the dictionary*** 

---

In [19]:
# Iterate through key-value pairs of the dictionary

for key,value in my_dictionary.items() :
    print(key,value)

name ayten
age 25
percentage 85
attendance 74
city baku
country azerbaijan
pincode 122015
last_name haciyeva
new_key new_value

---

 ***Sort the dictionary by key*** 

---

In [21]:
m_dict = {
    'Ayten' : 45,
    'Khalid'    : 22,
    'Murad'    : 31,
    'Ramid'   : 17,
    'Selin'  : 10 
}

In [22]:
sorted(m_dict.items())

[('Ayten', 45), ('Khalid', 22), ('Murad', 31), ('Ramid', 17), ('Selin', 10)]