<a href="https://colab.research.google.com/github/ayten21/Explore-Python/blob/main/Lambda_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
---

<center><h1>Lambda Functions</h1></center>



---


---

***`Lambda Functions`***





* This function can have any number of arguments but only one expression, which is evaluated and returned.
* You need to keep in your knowledge that lambda functions are syntactically restricted to a single expression.

* It is more efficient than function when the function task is small.
* Do not use Lambda functions when task is complex.
* It works best when you have to call a function millions of times but the execution task is simple.


---

***A Lambda function that adds 20 to the number that is passed as an argument.***


---

In [1]:
def add_20(a):
    return a+20

In [2]:
add_20(5)

25

In [3]:
var = lambda a : a + 20


print('With argument value 5 : ',var(5))
print('With argument value 10 : ',var(10))

With argument value 5 :  25
With argument value 10 :  30



---


***A Lambda function with two arguments.***


---

In [4]:
lambda_add = lambda a, b : a+b

print('The value of 5+3 = ',lambda_add(5,3))
print('The value of 7+2 = ',lambda_add(7,2))

The value of 5+3 =  8
The value of 7+2 =  9



---

***FILTER FUNCTION***

***The filter() function in Python takes in a function and a list as arguments. To filter out all the elements of a sequence, for which the function returns True.***

---

In [5]:
def normal_even(x):

  if x%2 !=0:
    return True
  else:
    return False

In [6]:
original_list = [5, 17, 32, 43, 12, 62, 237, 133, 78, 21] 

# filter the odd numbers from the list
filtered_list = list(filter(lambda x: (x%2 != 0) , original_list)) 

print('The odd numbers are : ',filtered_list)

The odd numbers are :  [5, 17, 43, 237, 133, 21]

In [7]:
original_list = [5, 11, 15, 43, 20, 65, 235, 133, 75, 21] 
# filter the multiples of 5
filtered_list = list(filter(lambda x: (x%5 == 0) , original_list)) 
print('The multiples of 5 are : ',filtered_list)

The multiples of 5 are :  [5, 15, 20, 65, 235, 75]

In [8]:
original_list = ['Tensorflow','Machine Learning','Python','Programming','Science','Data'] 
# filter the words starting with 'S'
filtered_list = list(filter(lambda x: (x[0] == 'P') , original_list)) 
print('The words starting with "P" are : ',filtered_list)

The words starting with "P" are :  ['Python', 'Programming']



---

***MAP FUNCTION***

***The map() function in Python takes in a function and a list as argument. The function is called with a lambda function and a list and a new list is returned which contains all the lambda modified items returned by that function for each item.***

---

In [9]:
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# double each number in the original list
mapped_list = list(map(lambda x: x*2 , original_list)) 
print('New List : ',mapped_list)

New List :  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [10]:
original_list = ['tensorflow','machine','learning','data','science']
# capatilize first letter of each  word in the original list
mapped_list = list(map(lambda x: x[0].upper()+x[1:] , original_list)) 
print('New List : ',mapped_list)

New List :  ['Tensorflow', 'Machine', 'Learning', 'Data', 'Science']



---

***REDUCE FUNCTION***

* ***The reduce() function in Python takes in a function and a list as argument. The function is called with a lambda function and a list and a new reduced result is returned. This performs a repetitive operation over the pairs of the list.***
* ***The reduce function will always take two parameters***

---

In [11]:
from functools import reduce
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
# use reduce function to find the sum of numbers in the original list
sum_of_list = reduce((lambda x, y : x + y), original_list) 
print ('Sum of Numbers in the original list is : ',sum_of_list)

Sum of Numbers in the original list is :  45

In [12]:
original_list = [110, 53, 3, 424, 255, 16, 42, 256]
# use reduce function to find the largest number in the original list
largest_number = reduce((lambda x, y: x if (x > y) else y ), original_list) 
print ('Largest Number in the original list is : ',largest_number)

Largest Number in the original list is :  424